@media screen and ( max-width: 1280px  )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px  )
  .nav
    &__item
      display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 570px  )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

@media screen and ( max-width: 520px  )
  .hero
    &__scroll-down
      display: none
    
@media screen and ( max-width: 320px  )
  html 
    font-size: 14px
  .menu
    margin: 0
    padding: 0
  .logo
    font-size: 0.867rem
    margin-left: 0.75rem
  .contacts
    &__phone
      font-size: 0.867rem
      margin-right: 0.68rem

  