.footer
  background: $dark url('../img/foooter-bg.jpg') no-repeat center / cover
  padding-top: 3rem
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714rem
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &::placeholder
      color: $light
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 2.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 2.6rem
    &--label
      justify-content: center
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
    justify-content: center
  &__menu
    background-color: $dark
    padding: 3.285rem 0
  &__map
    margin-bottom: 4rem
  &__info
    display: flex
    justify-content: center
    flex-direction: column
  &__contact
    text-align: center
    max-width: 39.14rem
    text-transform: uppercase
    font-family: 'Yeseva One'
    font-size: 1.428rem
    line-height: 28px
    color: $primary
    margin: auto
    margin-top: 2.714rem
    margin-bottom: 1.857rem
  &__links
    display: flex
    justify-content: center
    margin-bottom: 3.09rem
  &__link
    display: flex
    justify-content: center
    align-items: center
    width: 28px
    height: 28px
    margin: 0 8px
    padding: 7px
    background: $primary
    border-radius: 50%


