.hero
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: flex-start
  margin-top: 4.59rem
  background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba($dark, 0.7)
  &__content
    position: relative
    max-width: 47.85rem
    margin-left: 4.28rem
  &__title
    margin-bottom: 1.36rem
    line-height: 3.78rem
    font-size: 2.86rem
  &__text
    font-size: 1.57rem
    max-width: 35.72rem
    margin-bottom: 2.93rem
    line-height: 2.18rem
    font-size: 1.56rem
  &__button
    margin-right: 1.2rem
  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 5.72rem
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    left: 0
    bottom: 0
    min-width: 17.6rem
    min-height: 6.92rem
    background-color: $dark
    text-transform: uppercase
    text-decoration: none
    color: $light
    transition: box-shadow 0.2s color 0.3s
    font-size: 0.857rem
    font-family: 'Yeseva One', cursive
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 12px
    &:hover
      background-color: $primary
      color: $light
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark
  &__link
    display: flex
    align-items: center
    text-transform: uppercase
    color: $primary
    text-decoration: none
    transform: rotate(90deg)
    transition: 0.3s
    font-size: 1rem
    line-height: 1.14rem
    margin-bottom: 4.46rem
    font-family: 'Futura Demi', sans-serif
    &::after
      content: ''
      width: 3.6rem
      height: 0.07rem
      background-color: $primary
      margin-left: 1.36rem
    &:hover
      color: $light
.title
  margin: 0
  text-transform: uppercase
  font-family: 'Yeseva One', cursive
  font-size: 2.875rem
  line-height: 1.4
  &--primary
    color: $primary
