.hero
  display: flex
  flex-direction: column
  justify-content: center
  background: $light url('../img/hero-image/hero_image.png') no-repeat center/110rem
  height: 100vh
  padding-bottom: 70px
  &__title 
    max-width: 69.285rem
    margin: 0 auto
    text-align: center
    text-transform: uppercase
    font-family: 'RobotoCondensed-Bold', sans-serif
    font-weight: bold
  &__title
    &--big 
      color: $lightbrown
      font-size: 3.285rem
      line-height: 2.4rem
      margin-top: 6.5rem
  &__title
    &--small 
      color: $brown
      font-size: 1.571rem
      line-height: 2.428rem
  &__content 
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__advantages 
    max-width: 11.428rem
    display: flex
    justify-content: space-between
    margin-left: -18px
    &-image
      margin-right: 30px
  &__input 
    margin-bottom: 6px
  &__policy 
    max-width: 253px
    display: flex
    justify-content: center
    align-items: center
    margin: 12px 19px 24px 19px
    &-text 
      font-size: 11px
      font-weight: 300
      line-height: 11px
      color: $light
      text-align: center
  &-form 
    max-width: 21.5rem
    background-color: $red
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 5px solid $lightyellow
    &__button 
      margin-top: 14px
      padding: 22px 59px
      background-color: #12edc9
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.09)
    &__title 
      font-family: 'RobotoCondensed-Bold', sans-serif
      font-size: 1.5rem
      font-weight: bold
      line-height: 1.571rem
      color: $lightyellow
      text-transform: uppercase
      margin: 25px auto 23px
    &__subtitle 
      font-size: 1.285rem
.input 
  max-width: 17.928rem
  background-color: $light
  border: none
  border-radius: 2px
  font-family: 'Roboto-Regular', sans-serif
  font-size: 1rem
  font-weight: 300
  line-height: 0.967rem
  outline: none
  padding: 14px 100px 14px 15px
.button
  &__form 
    font-size: 18px
    font-weight: bold
    line-height: 13.55px
    text-transform: uppercase
    color: $light
    border-radius: 2px
    border: 1px solid transparent
